*.o
*.lo
*la
Makefile
Makefile.in
.deps
.libs
autom4te.cache
proto/src/compiler/lexer.cpp
proto/INSTALL
proto/aclocal.m4
proto/config.log
proto/config.status
proto/config/config.guess
proto/config/config.sub
proto/config/depcomp
proto/config/install-sh
proto/config/libtool.m4
proto/config/ltmain.sh
proto/config/ltoptions.m4
proto/config/ltsugar.m4
proto/config/ltversion.m4
proto/config/lt~obsolete.m4
proto/config/missing
proto/configure
proto/doc/Doxyfile
proto/doc/html/api/
proto/doc/man/
proto/libtool
proto/p2b
proto/proto
proto/src/buildregistry
proto/src/config.h
proto/src/config.h.in
proto/src/p2b
proto/src/proto
proto/src/stamp-h1
